{% extends 'base.html' %}

{% block content %}
<h1>{{title}}</h1>
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
<!--    {{ form.as_p }} &lt;!&ndash;   отображение форм через абзац p&ndash;&gt;-->
    <div class="form-error">{{ form.non_field_errors }}</div>

    {%for f in form %}
    <p><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}</label> {{f}} </p> <!--     for="{{ form.title.id_for_label }} идентификатор поля лэйбл-->
    <div class="form-error">{{ f.errors }}</div>
    {% endfor %}




    <p><button type="submit">Отправить</button></p>
</form>
{% endblock %}
