{% extends 'base.html' %}

{% block content %}
<section id="container">
    <div class="wrap-container">
        <div id="main-content">
            <div class="wrap-content">
                <div class="zerogrid">
                    <div class="row">
                        <div class="col-1-3">
                            <div class="wrap-col">

                                {% for v in vitrazh_1 %}
                                <a class="portfolio-box zoom-effect" href="{{  v.get_absolute_url }}">
                                    <img src="{{ v.image.url }}" class="img-responsive" alt="">
<!--                                    <div class="portfolio-box-caption">-->
<!--                                        <div class="portfolio-box-caption-content">-->
<!--                                            <div class="project-name">-->
<!--                                                <span>#ANIMAL</span>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
                                </a>

                                {% endfor %}


                            </div>
                        </div>
                         <div class="col-1-3">
                            <div class="wrap-col">

                                {% for v in vitrazh_2 %}
                                <a class="portfolio-box zoom-effect" href="{{  v.get_absolute_url }}">
                                    <img src="{{ v.image.url }}" class="img-responsive" alt="">
<!--                                    <div class="portfolio-box-caption">-->
<!--                                        <div class="portfolio-box-caption-content">-->
<!--                                            <div class="project-name">-->
<!--                                                <span>#ANIMAL</span>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
                                </a>

                                {% endfor %}


                            </div>
                        </div>
                         <div class="col-1-3">
                            <div class="wrap-col">

                                {% for v in vitrazh_3 %}
                                <a class="portfolio-box zoom-effect" href="{{  v.get_absolute_url }}">
                                    <img src="{{ v.image.url }}" class="img-responsive" alt="">
<!--                                    <div class="portfolio-box-caption">-->
<!--                                        <div class="portfolio-box-caption-content">-->
<!--                                            <div class="project-name">-->
<!--                                                <span>#ANIMAL</span>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
                                </a>

                                {% endfor %}


                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>

{% endblock %}